p {
  line-height: 40px;
  text-align: center;
}

#hex {
  background-color: #ff0000; /* red */
}

#hextransp {
  background-color: #ff000080; /* red transparency */
}

#rgb {
  background-color: rgb(255, 0, 0);
} /* red */

#rgba {
  background-color: rgba(255, 0, 0, 0.3);
} /* red with opacity */

#hsl {
  background-color: hsl(120, 100%, 50%);
} /* green */

#hsla {
  background-color: hsla(120, 100%, 50%, 0.3);
} /* green with opacity */

#browsers {
  background-color: brown;
}

#coratual {
  color: red; /* red text color */
  border: 10px solid currentcolor; /* red border color */
}
